html, body{
   margin: 0;
   background: #222;
}
#wrapper{
   margin: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 300px;
   margin-top: calc(50vh - 150px);
}
#header{
   background: #222;
   margin: 20px;
   color: white;
}
h1{
   margin: 0;
   animation-name: textColor;
   animation-duration: 5s;
   animation-iteration-count:infinite;
   /* animation-direction: alternate; */
   font-size: 2em;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: impact;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-shadow:2px 2px 0 #000,
  -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  0px 2px 0 #000,
  2px 0px 0 #000,
  0px -2px 0 #000,
  -2px 0px 0 #000,
  2px 2px 5px #000;
}
@keyframes textColor {
    0% {color: SpringGreen;}
    25% {color: red;}
    50% {color: yellow;}
    75% {color: blue;}
    100% {color: pink;}
}


#login{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}
form{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
input[type=text] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
input[type=text]:focus {
    border: 3px solid #555;
    outline: none;
}
