html, body{
   margin: 0;
   background: #222;
   overflow-x: hidden;
}

#wrapper{
   background: green;
   width: 100vw;
   height: 100vh;
}

.picture_q{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: #222;
   width: 100vw;
   height: 100vh;
   position: absolute;
   top: 0;
   left: 0;
}

.simple_q{
   display: none;
   /* display: flex; */
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: #222;
   color: white;
   width: 100vw;
   height: 100vh;
   position: absolute;
   top: 0;
   left: 0;
}
form{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: flex-start;
   color: white;
   font-family: 'Noto Serif', serif;
}
h2{
   font-family: impact;
  font-size: 2.2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:2px 2px 0 #000,
  -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  0px 2px 0 #000,
  2px 0px 0 #000,
  0px -2px 0 #000,
  -2px 0px 0 #000,
  2px 2px 5px #000;
}
u{
   text-decoration: none;
   border-bottom: 5px solid SpringGreen;
   border-radius: 5px;
}
input[type=submit] {
   align-self: center;
}
.button {
   margin: 25px;
   padding: 5px 30px;
   background: SpringGreen;
   color: #222;
   border: none;
   border-radius: 10px;
   box-shadow: 0 2px #aaa;
   transition: all .5s;
}
.button:hover{
   transform: translateY(2px);
   box-shadow: none;
}
