html, body{
   margin: 0;
   background: #222;
}
h2{
   /* color: white; */
   animation-name: textColor;
   animation-duration: 4s;
   animation-iteration-count:infinite;
   animation-direction: alternate;
   font-size: 3em;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: impact;
  text-transform: uppercase;
  letter-spacing: 15px;
  text-shadow:2px 2px 0 #000,
  -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  0px 2px 0 #000,
  2px 0px 0 #000,
  0px -2px 0 #000,
  -2px 0px 0 #000,
  2px 2px 5px #000;
}
@keyframes textColor {
    0% {color: SpringGreen;}
    25% {color: red;}
    50% {color: yellow;}
    75% {color: blue;}
    100% {color: pink;}
}
#bff{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 40px;
   background: SpringGreen;
}
#bff img{
   border-radius: 100px;
}
#bff p{
   margin: 20px;
   color: #222;
   font-family: 'Concert One', cursive;
   font-size: 1.5em;
}
#other_friends{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   max-width: 80%;
   margin: auto;
   color: white;
   padding: 20px;
   background: SpringGreen;
}
#other_friends img{
   border-radius: 100px;
}
#other_friends p{
   margin: 20px;
   color: #333;
   font-family: 'Concert One', cursive;
   font-size: 1em;
}
.friend{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin: 5px;
}
