<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
   <title>Meme Compatibility Quiz</title>
</head>
<body>
	<form action="" method="post" name="enterAnswer">
	  1 or 2:<br>
	  <input type="text" name="answer" value="1"><br>
	  <input type="submit" value="Submit">
	</form>
</body>